.eventName {
    
  font-size: 20px;
  text-decoration: overline #03a08d 3px;
  font-family: navigo, sans-serif;
  font-weight: 900;
  font-style: normal;
  text-align: center;
  
}

.image-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-left: 100px;
  
}

.resize {
  max-width: 65%;
  max-height: 65%;
}

.eventItem {
  /* border: 1px black solid; */
  font-family: "Rye", cursive;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 600px;
  border: 1px solid #a8d4d3;
  box-shadow: 5px 10px #f48595;
  border-radius: 3px;
}

.eventLink {
  font-family: "Times New Roman", Times, serif;
  margin-top: 25px;
  margin-right: 150px;
  display: flex;
  justify-content: center;
}

button {
  font-family: "Rye", cursive;
  border-radius: 3px;
  margin: 2px;
  border: 1px solid black;
  font-size: 14px;
}

.favorite {
  color: #ef3f4a;
}

.favorite-button {
  font-family: navigo, sans-serif;
}

ul {
  list-style-type: none;
}

.showInfo {
  display: none;
}

.moreInfoButton {
  font-family: navigo, sans-serif;
  
}


